
@{
    ViewBag.Title = "Index";
}
<h3 class="linkAgain">The Home Team</h3>

<row class="row">
    <div class="imgContainer col-md-5 col-sm-6">
        <img class="teamPics" src="~/Content/Images/MikeNMeEnchanted2.jpg" alt="Michael and Deborah Reed in lights." id="linkSpec" />
        <div class="overlay">
            <div class="text">Michael and<br /> Deborah Reed</div>
        </div>
    </div>
    <div class="imgContainer col-md-5 col-sm-6">
        <img class="teamPics" src="~/Content/Images/BuffyNFaith3.jpg" alt="Two happy dogs cheesing for the camera." />
        <div class="overlay">
            <div class="text">Buffy and Faith<br />The Chewtoy Slayers</div>
        </div>
    </div>
</row>
<h4 class="linkAgain">The Away Team</h4>
<p class="linkPTag">My Centriq Classmates and Their Kickin' Sites!</p>
<row class="row linkTop ">
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
        <img class="teamPics" src="~/Content/Images/Cade.jpg" alt="Cade Hocroffer" />
        <div class="overlay">
            <a href="http://www.cadehocroffer.com" target="_blank"> <div class="text">Cade Hocroffer <br />cadehocroffer.com </div></a>
</div>
    </div>
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
        <img class="teamPics" src="~/Content/Images/Christina.jpeg" alt="Female Programmer" />
        <div class="overlay">
            <a href="http://www.christinazuniga.com" target="_blank"> <div class="text">Christina Zuniga<br />christinazuniga.com</div></a>
        </div>
    </div>
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
        <img class="teamPics" src="~/Content/Images/Male developer.jpg" alt="Male Programmer" />
        <div class="overlay">
            <a href="http://www.chadway.net" target="_blank"> <div class="text">Chad Way<br />chadway.net</div></a>
</div>
    </div>
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
        <img class="teamPics" src="~/Content/Images/Male developer.jpg" alt="Male Programmer" />
        <div class="overlay">
            <a href="http://www.djlentz.com" target="_blank"> <div class="text">Damian Lentz<br />djlentz.com</div></a>
</div>
    </div>
</row>
<row class="row linkTop">
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
         <img class="teamPics" src="~/Content/Images/Elizabeth.jpg" alt="Elizabeth Needham" />
        <div class="overlay">
            <a href="http://www.youneedham.net" target="_blank"><div class="text">Elizabeth Needham<br />youneedham.net</div></a>
</div>
    </div>
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
         <img class="teamPics" src="~/Content/Images/Justin.jpg" alt="Justin Kennedy" />
        <div class="overlay">
            <a href="http://www.justinlkennedy.com" target="_blank"><div class="text">Justin Kennedy<br />justinlkennedy</div></a>
</div>
    </div>
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
        <img class="teamPics" src="~/Content/Images/Logan.jpg" alt="Logan Rothrock" />
        <div class="overlay">
            <a href="http://www.loganrothrock.com" target="_blank"> <div class="text">Logan Rothrock<br />loganrothrock.com</div></a>
</div>
    </div>
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
        <img class="teamPics" src="~/Content/Images/Nick.jpg" alt="Nicholas Zuniga" />
        <div class="overlay">
            <a href="http://www.nicholaszuniga.com" target="_blank">  <div class="text">Nicholas Zuniga<br />nicholaszuniga.com</div></a>
</div>
    </div>
</row>
<row class="row linkTop">
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
         <img class="teamPics" src="~/Content/Images/Tyler.jpg" alt="Tyler Fierro" />
        <div class="overlay">
            <a href="http://www.tylerfierro.com" target="_blank"><div class="text">Tyler Fierro<br />tylerfierro.com</div></a>
</div>
    </div>
    <div class="imgContainer col-md-3 col-sm-4 col-xm-6">
        <img class="teamPics" src="~/Content/Images/zach.jpg" alt="Tyler Fierro" />
        <div class="overlay">
            <a href="http://www.ztmallicoat.com" target="_blank">  <div class="text">Zachary Mallicoat<br />ztmallicoat.com</div></a>
</div>
    </div>
</row>
<h3 class="linkAgain">Everyone Wins Here!</h3>


