
<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <div class="home">

            <div class="hero-content" id="hero">

                <h1><span id="background">I am </span><span class="typed background"></span></h1>
                <p class="typed-items background" data-typed-person="Deborah Reed">a Developer,a Freelancer,a Writer,a Dog Lover</p>

                <ul class="list-unstyled">
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/Deborah-Reed-Dee-Reed"><i class="ion-social-linkedin"></i></a></li>

                </ul>

            </div>
        </div><!-- End Hero -->
    </main>
</div>


