@{
    ViewBag.Title = "Resume";
}
<div>
    <h2>@ViewBag.Title.</h2>
    <p> More Detailed Resume Availble Upon Request.</p>
</div>
<div class="col-md-12">

    <img src="~/Content/Images/ResumePic1.png" />
    <img src="~/Content/Images/ResumePic2.png" />
    <img src="~/Content/Images/ResumePic3.png" />
    <img src="~/Content/Images/ResumePic4.png" />
</div>