@{
    ViewBag.Title = "Resume";
}
<div>
    <h2 class="resumetitle">@ViewBag.Title</h2>
    <p class="resumePTag"> More Detailed Resume Availble Upon Request</p>
</div>
<div class="col-md-12">

    <img class="ResumeImg" src="~/Content/Images/ResumePic1.png" alt="Resume Information, Email for detailed copy."/>
    <img class="ResumeImg" src="~/Content/Images/ResumePic2.png" alt="Resume Information, Email for detailed copy."/>
    <img class="ResumeImg" src="~/Content/Images/ResumePic3.png" alt="Resume Information, Email for detailed copy."/>
    <img class="ResumeImg" src="~/Content/Images/ResumePic4.png" alt="Resume Information, Email for detailed copy."/>
</div>