
@{
    ViewBag.Title = "Send Me A Note";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        In the Northland of Kansas City, MO 64151
    </address>

    <address>
        <div class="col-md-6">
            <img class="resumeImg" src="~/Content/Images/Under-Construction-Sign.png" alt="under construction sign" />
        </div>
        <p>This page functionality is still under developement.  Please, check back soon.  Big things are coming in the next few weeks.  Full sight deployment will be completed by mid December.</p>
    </address>
</div>
