


<div class="hero-content">

    <h1 class="col-md-12" id="hero">I am <span class="typed background"></span></h1>
    <ul class="list-unstyled col-md-12">
        <li class="ionicons"><a class="ionicons" href="http://www.twitter.com/txdmreed"><i class="ion-social-twitter"></i></a></li>
        <li class="ionicons"><a class="ionicons" href="https://www.linkedin.com/in/Deborah-Reed-Dee-Reed"><i class="ion-social-linkedin"></i></a></li>
    </ul>

    <p class="typed-items background col-md-12" data-typed-person=" Deborah Reed"><span id="hidden">a Developer, a Freelancer, a Writer, a Dog Lover</span></p>


</div>
<div class="col-md-12">
    <h4>Hey there!</h4>
    <p>As you may have guessed, I am Deborah Reed, a Full Stack Web Developer student at Centriq Training in Kansas City, MO. 
    This is my portfilio application.<br /> <strong class="white">@Html.ActionLink("Welcome to my work.", "Index", "Portfolio", null, new { @class = "white" }) </strong></p>
</div>




