
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<section class="portfolio-details">
    <div class="container">

        <div class="portfolio-details-container">

            <div class="owl-carousel portfolio-details-carousel">
                <img src="assets/img/portfolio/portfolio-details-1.jpg" class="img-fluid" alt="">
                <img src="assets/img/portfolio/portfolio-details-2.jpg" class="img-fluid" alt="">
                <img src="assets/img/portfolio/portfolio-details-3.jpg" class="img-fluid" alt="">
            </div>

            <div class="portfolio-info">
                <h3>At A Glance</h3>
                <ul>
                    <li><strong>Category</strong>: Real World App</li>
                    <li><strong>Client</strong>: UNITE KC</li>
                    <li><strong>Project date</strong>: October 27 2020 - November 16 2020 </li>
                    <li><strong>Project URL</strong>: <a href="http://www.unitekc.org">www.unitekc.org</a></li>
                    <li><strong>IDE</strong>: Wordpress - Divi</li>
                </ul>
            </div>

        </div>

        <div class="portfolio-description">
            <h2>A Deeper Look</h2>
            <p>
                I collaborated with two other developers, in our off hours, in an AGILE development setting, to build out a version one, fully responsive website, from planning to launch, for a new local, non-profit, corporate entity in a tight, three week timeline.  Unite KC is about bringing together peoples of all races and creeds to unite in a commitment to each do one good thing for their city. 
            </p>    
            <h4>My Contributions:</h4>
            <ul>
                <li>Wireframing: No wireframe was provided.  The client had no specific vision for the site in the beginning, giving us a great deal of freedom to arrange things as needed. </li>
                <li>Styling and Cohesion: The client provided their logo and color scheme.  I was able to take these push them out to the rest of the project by deciding fonts, styling and over all feel and then apply this to each page for cohesion.</li>
                <li>Pictures: The client was unable to provide us with many website quality photos to break up the heavy text on the site.  I was able to search, sort and apply royalty free, appropriate photos to be used as backdrops, and page breaks throughout the site to make it more visually appealing.</li>                
            </ul>
        </div>
    </div>
</section><!-- End Portfolio Details Section -->
