
@{
    ViewBag.Title = "Portfolio";
}

<h2>@ViewBag.Title</h2>

<div class="col-md-6">
    <img class="resumeImg" src="~/Content/Images/Under-Construction-Sign.png" alt="under construction sign" />
</div>
<p>This page functionality is still under developement.  Please, check back soon.  Big things are coming in the next few weeks.  Full sight deployment will be completed by mid December.